.tamimg {
    width: auto;           
}

.centercarousel{
    display: block;  
    margin-right: auto;
    margin-left: auto;
}


.content-box {
    box-sizing: border-box;
    width: 100%;    
}

.sombra{
    border-radius: 40%;
    box-shadow: 0 0 20px #ccc;
 }